STM32F103_Hermes/generated/
dark_times/generated
Schematic/Schematic-backups
Schematic/~Schematic.kicad_sch.lck
dark_times/.pio
dark_times/.vscode/.browse.c_cpp.db*
dark_times/.vscode/c_cpp_properties.json
dark_times/.vscode/launch.json
dark_times/.vscode/ipch
C_serial_doer_stuffer/C_serial_doer_stuffer.exe
